<div class="container">
    <div class="row pushDown hide-on-small-only"></div>
    <div class="row homeRow">
        <div class="col s12 m4">
            <div class="card teal lighten-2 expl">
                <div class="card-content">
                    <span class="card-title center-align">What is it?</span>
                    <p> Doublespeak is a project focused on natural language processing with Python, specifically
                        sentiment analysis of various presidential candidates. Doublespeak takes campaign speeches from
                        presidential candidates, breaks them into individual sentences, and then gauges the general
                        sentiment(positive/negative) of each candidate's campaign with the . The IBM Watson Tone
                        Analysis API is then utilized to expand the general sentiment into personality and emotional
                        tone analysis. </p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card teal lighten-2 expl">
                <div class="card-content">
                    <span class="card-title center-align">How does it work?</span>
                    <p>Variations of the Naive Bayes algorithm were trained with positive and negative movie reviews and
                        tweets in order to increase and stabilize the fluctuating base accuracy of the algorithm. These
                        newly trained algorithms were then pickled to increase the speed of the sentiment analysis.</p>
                    <P>The NLTK (Natural Language Toolkit) library was utilized to 'tokenize' (split) each candidate's
                        speeches into sentences before analyzing them for positive/negative sentiment with the trained
                        bayesian algorithms. A mean of all the algorithm's accuracy ratings is presented alonside the
                        sentiment decision as a 'confidence' score.</P>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card teal lighten-2 expl">
                <div class="card-content">
                    <span class="card-title center-align">Why 'Doublespeak'?</span>
                    <p> The term doublespeak is defined as 'intentionally deceiving language. Not an outright lie or a
                        tactful euphemism, but systematic use of ambiguous, evasive words and sentence structures to
                        say one thing but mean something else'. Commonly associated with bureaucracy, military, and
                        politics, it is often used as a calculated attempt to avoid or shift responsibility, distort
                        reality by making the bad, negative, or unpleasant look good, positive, or pleasant, and vice
                        versa, and confuse by using unfamiliar or concocted jargon.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <h3 class="center-align">Choose Your Candidate</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4" ng-repeat="candidate in candidates">
            <div class="card grey darken-1">
                <div class="card-content white-text center-align">
                    <span class="card-title">{{candidate.candidate_name}}</span>
                    <p>{{candidate.party_name}} | {{candidate.election_year}} election</p>
                </div>
                <div class="card-action">
                    <a class="white-text" ng-href="#!/candidate{{candidate.id}}">View doublespeak data</a><br>
                </div>
            </div>
        </div>
    </div>
</div>